<!DOCTYPE html>
<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <title>AH-64D_BLK_II_AI_Menu</title>
        <link rel="stylesheet" href="static/reset.css" />
        <link rel="stylesheet" href="static/styles.css" />
    </head>

    <body>
        <section class="main_container">
            
            
            <section class="controller_body" />
<section class="controller_grid" id="VKBsim Gladiator EVO  R_view" />
<img class="controller_img" src="static/controller_images/VKBsim Gladiator EVO  R.png" alt="VKBsim Gladiator EVO  R" />
<svg class="lineoverlay"></svg>



<section class="controller_section controller_section_top">
    
    <table data-controller="Stadium Hat">
        <thead>
            <tr>
                <th colspan="2">Stadium Hat</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row" rowspan="1">&#xEB22</th>
                <td class="mod_1">
                    George AI Helper Interface
                </td>
            </tr>
            
            
        </tbody>
    </table>
    
</section>

</section>
<div class="infobox">
    <h3>AH-64D_BLK_II_AI_Menu</h3>
    <h4>VKBsim Gladiator EVO  R</h4>
</div>
</section>
            
            <section class="controller_body" />
<section class="controller_grid" id="TWCS Throttle_view" />
<img class="controller_img" src="static/controller_images/TWCS Throttle.png" alt="TWCS Throttle" />
<svg class="lineoverlay"></svg>



<section class="controller_section controller_section_top">
    
    <table data-controller="Side Button">
        <thead>
            <tr>
                <th colspan="2">Side Button</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row" rowspan="1">&#xF445</th>
                <td class="default">
                    George AI Helper Interface - Hide
                </td>
            </tr>
            
            
        </tbody>
    </table>
    
</section>


<section class="controller_section controller_section_left">
    
    <table data-controller="Thumb Button">
        <thead>
            <tr>
                <th colspan="2">Thumb Button</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row" rowspan="1">&#xF445</th>
                <td class="mod_1">
                    MOD: BTN_TRIM
                </td>
            </tr>
            
            
        </tbody>
    </table>
    
</section>

</section>
<div class="infobox">
    <h3>AH-64D_BLK_II_AI_Menu</h3>
    <h4>TWCS Throttle</h4>
</div>
</section>
            
        </section>
        <script>
            var data = {"TWCS Throttle": {"down": {}, "left": {"Thumb Button": {"meta": {"x": 204, "y": 218}, "press": {"BTN_TRIM": "MOD: BTN_TRIM"}}}, "right": {}, "top": {"Side Button": {"meta": {"x": 498, "y": 136}, "press": {"default": "George AI Helper Interface - Hide"}}}}, "VKBsim Gladiator EVO  R": {"down": {}, "left": {}, "right": {}, "top": {"Stadium Hat": {"hat": {"BTN_TRIM": "George AI Helper Interface"}, "meta": {"x": 196, "y": 105}}}}}
        </script>
        <script src="static/script.js"></script>
    </body>

</html>
