<!DOCTYPE html>
<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <title>Mi-24P_Gunner</title>
        <link rel="stylesheet" href="static/reset.css" />
        <link rel="stylesheet" href="static/styles.css" />
    </head>

    <body>
        <section class="main_container">
            
            
            <section class="controller_body" />
<section class="controller_grid" id="VKBsim Gladiator EVO  R_view" />
<img class="controller_img" src="static/controller_images/VKBsim Gladiator EVO  R.png" alt="VKBsim Gladiator EVO  R" />
<svg class="lineoverlay"></svg>



<section class="controller_section controller_section_top">
    
    <table data-controller="Ministick">
        <thead>
            <tr>
                <th colspan="2">Ministick</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row" rowspan="1">&#xF004C</th>
                <td class="default">
                    Gun
                </td>
            </tr>
            
            
        </tbody>
    </table>
    
</section>

</section>
<div class="infobox">
    <h3>Mi-24P_Gunner</h3>
    <h4>VKBsim Gladiator EVO  R</h4>
</div>
</section>
            
        </section>
        <script>
            var data = {"VKBsim Gladiator EVO  R": {"down": {}, "left": {}, "right": {}, "top": {"Ministick": {"axes": {"default": "Gun"}, "meta": {"x": 160, "y": 65}}}}}
        </script>
        <script src="static/script.js"></script>
    </body>

</html>
