<!DOCTYPE html>
<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <title>Mi-24P_AI_Menu</title>
        <link rel="stylesheet" href="static/reset.css" />
        <link rel="stylesheet" href="static/styles.css" />
    </head>

    <body>
        <section class="main_container">
            
            
            <section class="controller_body" />
<section class="controller_grid" id="TWCS Throttle_view" />
<img class="controller_img" src="static/controller_images/TWCS Throttle.png" alt="TWCS Throttle" />
<svg class="lineoverlay"></svg>



<section class="controller_section controller_section_top">
    
    <table data-controller="Middle Button">
        <thead>
            <tr>
                <th colspan="2">Middle Button</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row" rowspan="1">&#xF445</th>
                <td class="default">
                    Petrovitch AI Helper
                </td>
            </tr>
            
            
        </tbody>
    </table>
    
</section>


<section class="controller_section controller_section_left">
    
    <table data-controller="Coolie Hat">
        <thead>
            <tr>
                <th colspan="2">Coolie Hat</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row" rowspan="1">&#xEB22</th>
                <td class="default">
                    Petrovitch Helper Interface
                </td>
            </tr>
            
            
        </tbody>
    </table>
    
</section>

</section>
<div class="infobox">
    <h3>Mi-24P_AI_Menu</h3>
    <h4>TWCS Throttle</h4>
</div>
</section>
            
        </section>
        <script>
            var data = {"TWCS Throttle": {"down": {}, "left": {"Coolie Hat": {"hat": {"default": "Petrovitch Helper Interface"}, "meta": {"x": 261, "y": 106}}}, "right": {}, "top": {"Middle Button": {"meta": {"x": 460, "y": 144}, "press": {"default": "Petrovitch AI Helper"}}}}}
        </script>
        <script src="static/script.js"></script>
    </body>

</html>
