<!DOCTYPE html>
<html>

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">
    <title>{{ aircraft_name }} {{ controller_name }}</title>
    <link rel="stylesheet" href="static/reset.css" />
    <link rel="stylesheet" href="static/styles.css" />
  </head>

  <body>
    <section class="main_container" />
    <img class="controller_img" src="static/controller_images/gladiator.png" alt="vkb_gladiator_ntx" />
    <svg class="lineoverlay">
    </svg>

    {% for section, control_elements in key_config.items() %}
    <section class="controller_section controller_section_{{ section }}" style="grid-area: {{ section }}">
      {% for control_element, control_data in control_elements.items() %}
      <table data-controller="{{ control_element }}">
        <thead>
          <tr>
            <th colspan="2">{{ control_element }}</th>
          </tr>
        </thead>
        <tbody>
          {% for direction, key_function in control_data.items() if direction != "meta" %}
          <tr>
            <th scope="row">{{ cdm[direction] }}</th>
            <td>{{ key_function }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    </section>
    {% endfor %}
    </section>

    <script>
      var key_config = {{ key_config | tojson | safe }}
    </script>
    <script src="static/script.js"></script>
  </body>

</html>